h1{
    text-align: center;
    color: #457b9d;
}

div.contenedor{
    border: 3px dashed #a8dadc;
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
}

span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color: #a8dadc;
    border: 1px solid #457b9d;
    height: 50px;
    padding: 5px;
    display: inline-block;
}

.menu{
    list-style-type: none;
    text-align: center;

}

.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: #e63946;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #f1faee;
}

/*
div.contenedor.flotado{
    float: left;
}

div.contenedor.flotado.contenedor1{
    border: 3px dashed greenyellow;
}

div.contenedor.flotado.contenedor2{
    border: 3px dashed cornflowerblue;
    float: right;
}

div.contenedor.contenedor3{
    border: 3px dashed darkorange;
    clear: both;
    margin: auto;
}

img.imagen{
    width: 100%;
    opacity: .2;
}

div.centro{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
*/












/*
div.relativo{
    position: relative;
    max-width: 300px;
    height: 200px;
    border: 3px solid cornflowerblue;
    top: 10px;
    left: 100px;
}

div.absoluto{
    position: absolute;
    top: 0px;
    right: 0px;
    border: 3px solid firebrick;

}

div.sticky{
    position: sticky;
    top: 0;
    border: 1px solid #2d7db6;
}*/